{
    "main": "bin/dns-challenge",
    "output": "dist/dns-challenge.phar",

    "directories": ["src"],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["test", "tests"],
            "in": "vendor"
         }
    ]
}
